  <div class="modal-header">
    <button type="button" class="close" (click)="bsModalRef.hide()">×</button>
    <h3 ng-hide="newUser">Add User</h3>
  </div>

<ul class="nav nav-tabs" id="tabContent">
        <li class="active"><a href="#details" id="tabAdUser" data-toggle="tab">AD User</a></li>
        <li><a href="#access-security" id="tabOrtherUser" data-toggle="tab">Orther User</a></li>
</ul>

<div class="tab-content" >
        <div class="tab-pane active" id="details">
      
           <form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)" class="form-horizontal" style="margin-top:5px">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="txtEmail" formControlName="email" placeholder="Enter email">
                  <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)" class="text-danger">
                     Email is required .
                  </small>
                </div>
               
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="fullname">Fullname:</label>
                <div class="col-sm-10"> 
                  <input type="text" class="form-control" id="txtFullName" formControlName="fullName"  placeholder="Enter Fullname">
                  <small [hidden]="myForm.controls.fullName.valid || (myForm.controls.fullName.pristine && !submitted)" class="text-danger">
                  Fullname is required .
                </small>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="role">Role:</label>
                <div class="col-sm-10"> 
                  <select id="cbxRole" name="user.roles" formControlName="roles" class="form-control">
                  <option  [ngValue]=" ">Select Role</option>
                  <option *ngFor="let role of roleData" [ngValue]="role.id">{{role.roleName}}</option>
                </select>
                </div>
              </div>
            
              <div class="form-group"> 
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="row">
                      <div class="col-xs-3" >
                         <button class="btn btn-primary" id="btnSave" type="button" (click)="bsModalRef.hide(this)">Cancel</button>
                      </div>

                      <div class="col-xs-4">
                          <button type="submit" id="btnCancel" class="btn btn-primary" >Save</button>
                      </div>
                      
                    </div>
                </div>
              </div>
        </form>

        </div>
        
        
        <!--Orther user form-->
        
           <div class="tab-pane" id="access-security">
             <form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)" class="form-horizontal" style="margin-top:5px">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="txtEmail"  formControlName="email" placeholder="Enter email">
                  <small [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)" class="text-danger">
                     Email is required .
                  </small>
                </div>
               
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="fullname">Fullname:</label>
                <div class="col-sm-10"> 
                  <input type="text" class="form-control" id="txtFullName" formControlName="fullName"  placeholder="Enter Fullname">
                  <small [hidden]="myForm.controls.fullName.valid || (myForm.controls.fullName.pristine && !submitted)" class="text-danger">
                  Fullname is required .
                </small>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="role">Role:</label>
                <div class="col-sm-10"> 
                  <select id="cbxRole" name="roles" formControlName="roles" class="form-control">
                 
                  <option *ngFor="let role of roleData" [ngValue]="role.id">{{role.roleName}}</option>
                </select>
                </div>
              </div>
            
              <div class="form-group"> 
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="row">
                      <div class="col-xs-3" >
                         <button class="btn btn-primary" id="btnSave" type="button" (click)="bsModalRef.hide(this)">Cancel</button>
                      </div>

                      <div class="col-xs-4">
                          <button type="submit" id="btnCancel" class="btn btn-primary" >Save</button>
                      </div>
                      
                    </div>
                </div>
              </div>
           </form>
        </div> 
</div>

