<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<form role="form" ngNoForm [formGroup]="fg" novalidate>
  <div class="modal-body">
    <div class="alert alert-warning alert-dismissible" *ngIf="errorMsg">{{errorMsg}}</div>
    <div class="form-group">
      <label>SKU</label>
      <input *ngIf="!isView" type="text" class="form-control" placeholder="SKU" id="txtSku" required maxlength="50" [(ngModel)]="product.sku"
        formControlName="sku">
      <p *ngIf="!isView" [hidden]="(fg.controls['sku'].valid || (fg.controls['sku'].pristine && !isSubmited))" class="text-danger">SKU is required.
      </p>

      <div *ngIf="isView">{{product.sku}}</div>
    </div>
    <div class="form-group">
      <label>Product title</label>
      <input *ngIf="!isView" type="text" class="form-control" placeholder="Product title" id="txtProductTitle" required maxlength="100"
        [(ngModel)]="product.productTitle" formControlName="productTitle">
      <p *ngIf="!isView" [hidden]="(fg.controls['productTitle'].valid || (fg.controls['productTitle'].pristine && !isSubmited))"
        class="text-danger">Product title is required.
      </p>

      <div *ngIf="isView">{{product.productTitle}}</div>
    </div>
    <div class="form-group">
      <label>Shipping</label>
      <input *ngIf="!isView" type="text" class="form-control" placeholder="Shipping info" id="txtShipInfo" maxlength="100" [(ngModel)]="product.shippingInfo"
        formControlName="shippingInfo">
      <p *ngIf="!isView" [hidden]="(fg.controls['shippingInfo'].valid || (fg.controls['shippingInfo'].pristine && !isSubmited))"
         class="text-danger">Shipping is required.
      </p>
      <div *ngIf="isView">{{product.shippingInfo}}</div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input *ngIf="!isView" type="text" class="form-control" placeholder="Description" id="txtDescription" [(ngModel)]="product.description"
        formControlName="description">
      <div *ngIf="isView">{{product.description}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-flat btn-default" (click)="bsModalRef.hide()" id="btnCancel">Cancel</button>
    <button *ngIf="!isView" type="button" class="btn btn-flat btn-primary" (click)="saveClose()" id="btnSave">Save</button>
  </div>
</form>