<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title" id="lblPageTitle">List of Users</h3>
                    <button type="button" id="btnAddNew" (keydown.enter)="$event.preventDefault()" (click)="addNew()"
                            class="btn btn-primary pull-right">Add new user
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped"  [mfData]="listUsers" #mf="mfDataTable">
                        <thead>
                        <tr>
                            <th class="no">No</th>
                            <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="fullName">Full name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="rollName">Role name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="company">Company</mfDefaultSorter></th>
                            <th class="action90">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of mf.data; let i = index">
                            <td> {{indexPage+i+1}}</td>
                            <td> {{user.email}}</td>
                            <td> {{user.fullName}}</td>
                            <td>
                                <p *ngIf="user.roles[0]">{{user.roles[0].roleName}}</p>
                            </td>
                            <td></td>
                            <td>
                                <span style="padding-right:14px; cursor: pointer" id="btnEdit{{i}}"
                                      (click)="editUser(user.id)" tooltip="Edit"><i class="fa fa-pencil-square-o"
                                                                                    aria-hidden="true"></i></span>
                                <span style=" padding-right:14px; cursor: pointer" id="btnView{{i}}"
                                      (click)="viewUser(user.id)" tooltip="View">
                                        <i class="fa fa-eye" aria-hidden="true"></i></span>
                                <span style=" cursor: pointer" id="btnDelete{{i}}" (click)="showModal(user.id)">
                                        <i class="fa fa-trash" tooltip="Delete"></i></span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot *ngIf="totalItems>0">
                        <tr>
                            <td colspan="8">
                                <div class="col-md-6">
                                    <div style="margin-top:20px">
                                        Showing {{indexPage+1}} to {{(indexPage+10)>totalItems?totalItems:indexPage+10}}
                                        of {{totalItems}} entries
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <pagination style="float:right;"
                                                [totalItems]="totalItems"
                                                (ngModel)="currentPage"
                                                [itemsPerPage]="itemsPerPage"
                                                class="pagination-sm"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                [rotate]="false"
                                                (pageChanged)="pageChanged($event)"></pagination>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>