<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" ngNoForm [formGroup]="fg" novalidate>
    <div class="alert alert-warning alert-dismissible" *ngIf="errorMsg">{{errorMsg}}</div>

    <div class="form-group">
      <label>Company name*</label>
      <input type="text" class="form-control" placeholder="Company name" id="txtName"
             required maxlength="100" formControlName="companyName">
      <p [hidden]="(fg.controls['companyName'].valid || (fg.controls['companyName'].pristine && !isSubmited))"
         class="text-danger">Company name is required. </p>
    </div>
    <div class="form-group">
      <label>Address*</label>
      <input type="text" class="form-control" placeholder="Address" id="txtAddress" required maxlength="300"
             formControlName="address">
      <p [hidden]="(fg.controls['address'].valid || (fg.controls['address'].pristine && !isSubmited))"
         class="text-danger">Address is required.</p>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control phone" placeholder="Phone" id="txtPhoneNumber" maxlength="20"
             formControlName="phone">
    </div>
    <div class="form-group">
      <label>Fax</label>
      <input type="text" class="form-control phone" placeholder="Fax" id="txtFax" formControlName="fax" maxlength="20">
    </div>

    <div class="form-group">
      <label>Tax code*</label>
      <input type="text" class="form-control phone" placeholder="Tax code" id="txtTaxCode" required maxlength="20"
             formControlName="taxCode">
      <p [hidden]="(fg.controls['taxCode'].valid || (fg.controls['taxCode'].pristine && !isSubmited))"
         class="text-danger">Tax code is required.</p>
    </div>

    <div class="form-group">
      <label>Country*</label>
      <select [(ngModel)]="selectedCountry" (ngModelChange)="countryOnChange($event)" formControlName="country"
              class="ddl">
        <option *ngFor="let c of countries" value="{{c.code}}">{{c.name}}</option>
      </select>
      <p *ngIf="!selectedCountry && isSubmited" class="text-danger">Country is required.</p>
    </div>

    <div class="form-group">
      <label>State/ Province*</label>
      <select [(ngModel)]="selectedState" (ngModelChange)="stateOnChange($event)" formControlName="state" class="ddl">
        <option *ngFor="let c of states" value="{{c.code}}">{{c.name}}</option>
      </select>
      <p *ngIf="!selectedState && isSubmited" class="text-danger">State is required.</p>
    </div>

    <div class="form-group">
      <label>City/ District*</label>
      <select [(ngModel)]="selectedCity" formControlName="city" class="ddl">
        <option *ngFor="let c of cities" value="{{c.code}}">{{c.name}}</option>
      </select>
      <p *ngIf="!selectedCity && isSubmited" class="text-danger">City is required.</p>
    </div>

    <div class="form-group">
      <label>Postcode*</label>
      <input type="text" class="form-control phone" placeholder="Postcode" id="txtPostCode" required maxlength="20"
             formControlName="postCode">
      <p [hidden]="(fg.controls['postCode'].valid || (fg.controls['postCode'].pristine && !isSubmited))"
         class="text-danger">Postcode is required.
      </p>
    </div>



    <div class="modal-footer">
      <button type="button" class="btn btn-flat btn-default" (click)="bsModalRef.hide()" id="btnCancel">Cancel</button>
      <button type="button" class="btn btn-flat btn-primary" (click)="saveClose()" id="btnSave">Save</button>
    </div>
  </form>


</div>