<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Company</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Location</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <form role="form" ngNoForm [formGroup]="fg" novalidate>
                    <div class="alert alert-warning alert-dismissible" *ngIf="errorMsg">{{errorMsg}}</div>
                    <input type="hidden" [(ngModel)]="company.id" [formControl]="hdCompany">
                    <div class="form-group">
                        <label>Company name</label>
                        <input type="text" class="form-control" placeholder="Company name" id="txtName" required maxlength="100" [(ngModel)]="company.companyName"
                            formControlName="companyName">
                        <p [hidden]="(fg.controls['companyName'].valid || (fg.controls['companyName'].pristine && !isSubmited))" class="text-danger">Company name is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Tax code</label>
                        <input type="text" class="form-control" placeholder="Tax code" id="txtTaxCode" required maxlength="20" [(ngModel)]="company.taxCode"
                            name="taxCode" formControlName="taxCode">
                        <p [hidden]="(fg.controls['taxCode'].valid || (fg.controls['taxCode'].pristine && !isSubmited))" class="text-danger">Tax code is required.
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="Phone" id="txtPhoneNumber" maxlength="20" [(ngModel)]="company.phone"
                            name="phone" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label>Fax</label>
                        <input type="text" class="form-control" placeholder="Fax" id="txtFax" [(ngModel)]="company.fax" name="fax" formControlName="fax"
                            maxlength="20">
                    </div>

                    <div class="form-group" style="text-align: right">
                        <button type="button" class="btn btn-flat btn-primary" (click)="saveClose()" id="btnSave">Save</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible" *ngIf="msgLocation">{{msgLocation}}</div>
                        <table class="tbl-location" style="margin: 20px 0">
                            <tr>
                                <td width="15%">Country</td>
                                <td width="35%">
                                    <select [(ngModel)]="selectedCountry" (ngModelChange)="countryOnChange($event)" class="ddl">
                                            <option *ngFor="let c of countries" value="{{c.code}}">{{c.name}}</option>
                                         </select>
                                    <p *ngIf="!selectedCountry && locationSubmit" class="text-danger">Country is required.</p>
                                </td>
                                <td width="15%" class="td-label">City/ District</td>
                                <td width="35%">
                                    <select [(ngModel)]="selectedCity" class="ddl">
                                                <option *ngFor="let c of cities" value="{{c.code}}">{{c.name}}</option>
                                             </select>
                                    <p *ngIf="!selectedCity && locationSubmit" class="text-danger">City is required.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>State/ Province</td>
                                <td>
                                    <select [(ngModel)]="selectedState" (ngModelChange)="stateOnChange($event)" class="ddl">
                                                <option *ngFor="let c of states" value="{{c.code}}">{{c.name}}</option>
                                             </select>
                                    <p *ngIf="!selectedState && locationSubmit" class="text-danger">State is required.</p>
                                </td>
                                <td class="td-label">Postcode</td>
                                <td><input type="text" class="width100 form-control" [(ngModel)]="postCode" name="postCode" placeholder="Postcode">
                                    <p *ngIf="!postCode && locationSubmit" class="text-danger">Postcode is required.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td colspan="3"><input class="width100 form-control" type="text" [(ngModel)]="address" name="address" placeholder="Address">
                                    <p *ngIf="!address && locationSubmit" class="text-danger">Address is required.</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <input type="button" value="Add location" id="btnAddNew" class="btn btn-flat btn-primary" (click)="addLocation()">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>State/ Province</th>
                            <th>City/ District</th>
                            <th>Address</th>
                            <th>Postcode</th>
                            <th class="action60">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let location of locations; let i = index">
                            <td>{{location.countryName}}</td>
                            <td>{{location.stateName}}</td>
                            <td>{{location.cityName}}</td>
                            <td>{{location.address}}</td>
                            <td>{{location.postCode}}</td>
                            <td class="text-center"><span *ngIf="locationCount>1" (click)="confirmDialog(location.id)" style="cursor: pointer" id="row{{(i)}}BtnDelete"
                                    tooltip="Delete"><i class="fa fa-trash"></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-default" (click)="bsModalRef.hide()" id="btnCancel">Cancel</button>
    </div>
</div>