<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">List of Permissions</h3>
                    <span (click)="addNew()" class="btn btn-primary pull-right" id="btnAddNew">Add new
                    </span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped" [mfData]="activities" #mf="mfDataTable">
                        <thead>
                        <tr>
                            <th class="no">No</th>
                            <th>
                                <mfDefaultSorter by="url">URL</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="method">Method</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="urlRegex">UrlRegex</mfDefaultSorter>
                            </th>
                            <th class="createdBy">Created by</th>
                            <th class="createdAt">Created at</th>
                            <th class="action60">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let activity of mf.data; let i = index">
                            <td>{{indexPage + i + 1}}.</td>
                            <td>{{activity.url}}</td>
                            <td>{{activity.method}}</td>
                            <td>{{activity.urlRegex}}</td>
                            <td class="text-center">{{activity.createdBy}}</td>
                            <td class="text-center">{{activity.createdAt | date: 'dd/MM/yyyy H:MM'}}</td>
                            <td><span style="padding-right:14px; cursor: pointer" (click)="edit(activity)"
                                      tooltip="Edit"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                <span (click)="showModal(activity.id)" style="float: right; cursor: pointer"
                                      tooltip="Delete"><i
                                        class="fa fa-trash"></i></span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="col-md-6">
                                    <div style="margin-top:20px">
                                        Showing {{indexPage+1}} to {{(indexPage+itemsPerPage)>totalItems?totalItems:indexPage+itemsPerPage}}
                                        of {{totalItems}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <pagination style="float:right;"
                                            [totalItems]="totalItems"
                                            (ngModel)="currentPage"
                                            [itemsPerPage]="itemsPerPage"
                                            class="pagination-sm"
                                            [maxSize]="5"
                                            [boundaryLinks]="true"
                                            [rotate]="false"
                                            (pageChanged)="pageChanged($event)"></pagination>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
