<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="form-group">
            <input type="hidden" class="form-control" name="userId" #userId [value]="user.id"  placeholder="User id">
        </div>

        <div class="form-group">
            <label>Role name</label>
            <input type="text" class="form-control" name="userEmail" #email [value]="user.email"  [disabled]="!disableInput" placeholder="Role name">
        </div>

        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" name="userFullName" #fullName [value]="user.fullName"  [disabled]="!disableInput"  placeholder=" Role description">
        </div>

        <div class="form-group">
            <label>Role</label>
            <select  [disabled]="!disableInput"  #role1 class="form-control">
                    <option  [value]=" ">Select Role</option>
                    <option *ngFor="let roles of roleData" [value]="roles.id" [selected]="roles.id === role.id" >{{roles.roleName}}</option>
                </select>
        </div>
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide(this)">Cancel</button>
        <button type="button" *ngIf="disableInput" class="btn btn-primary" (click)="updateUser(userId.value,email.value,fullName.value,role1.value)">Save</button>

    </form>
</div>