@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.table th{
    text-align: center;
}
.table td{
    word-break: break-all;
}
.no{
    width:10px;
}
.createdBy{
    width:100px;
}
.createdAt{
    width:120px;
}
.action60{
    width:60px;
}
.action90{
    width:90px;
}
.btn{
    min-width: 70px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.second{
    width:800px !important;
}
.modal-compny-edit{
    width:800px !important;
}
.modal-compny-add{
    width:800px !important;
}
.cdk-overlay-container{
    z-index: 2000 !important;
  }
.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 0;
}
.admin-company-modal {
    width: 880px !important;
}
.badge-danger {
    background-color: #dc3545;
}
.badge-info {
    background-color: #1abc9c;
}
.badge-success {
    background-color: #28a745;
}
.badge-warning {
    background-color: #ffc107;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

