<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form role="form" novalidate>
        <div class="form-group" *ngIf="isEditName">
            <label>Scope name</label>
            <input type="text" class="form-control" name="scopeName" [(ngModel)]="scope.scopeName"
                   placeholder="Scope name">
        </div>
        <div class="form-group" *ngIf="isEditName">
            <label>Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="scope.description"
                   placeholder="Description">
        </div>
        <div class="form-group" *ngIf="!isEditName">
            <label>Activities</label>
            <angular2-multiselect name="activities" [data]="dropdownList" [(ngModel)]="selectedItems"
                                  [settings]="dropdownSettings"></angular2-multiselect>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide(this)">Close</button>
</div>