<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">View Scope list</h3>
                    <button type="button" (click)="addNew()" class="btn btn-primary pull-right">Add new</button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped"
                           [mfData]="scopes"
                           #mf="mfDataTable"
                           [mfRowsOnPage]="itemsPerPage">
                        <thead>
                        <tr>
                            <th style="width: 10px">No</th>
                            <th>Scope name</th>
                            <th>Description</th>
                            <th style="width:100px;">Created by</th>
                            <th style="width:100px;">Created at</th>
                            <th style="width: 90px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let scope of mf.data; let i = index">
                            <td>{{i+1}}.</td>
                            <td>{{scope.scopeName}}</td>
                            <td>{{scope.description}}</td>
                            <td class="text-center">{{scope.createdBy}}</td>
                            <td class="text-center">{{scope.createdAt | date: 'dd/MM/yyyy'}}</td>
                            <td><span style="padding-right:14px; cursor: pointer" (click)="editName(scope)"
                                      tooltip="Edit"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                <span style="cursor: pointer" (click)="editActivity(scope)"
                                      tooltip="Config Activity"><i class="fa fa-wrench"
                                                                                               aria-hidden="true"></i></span>
                                <span (click)="showModal(scope.id)" style="float: right; cursor: pointer"
                                      tooltip="Delete"><i
                                        class="fa fa-trash"></i></span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <pagination style="float:right;"
                                            [totalItems]="totalItems"
                                            (ngModel)="currentPage"
                                            [itemsPerPage]="itemsPerPage"
                                            class="pagination-sm"
                                            [maxSize]="5"
                                            [boundaryLinks]="true"
                                            [rotate]="false"
                                            (pageChanged)="pageChanged($event)"></pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!--<table class="table table-bordered table-striped" *ngIf="scopes">
                      <tbody>
                        <tr>
                          <th style="width: 10px">No</th>
                          <th>Scope name</th>
                          <th>Description</th>
                          <th style="width:100px;">Created by</th>
                          <th style="width:100px;">Created at</th>
                          <th style="width: 90px">Action</th>
                        </tr>
                        <tr *ngFor="let scope of scopes; let i = index">
                          <td>{{i+1}}.</td>
                          <td>{{scope.scopeName}}</td>
                          <td>{{scope.description}}</td>
                          <td class="text-center">{{scope.createdBy}}</td>
                          <td class="text-center">{{scope.createdAt | date: 'dd/MM/yyyy'}}</td>
                          <td><span style="padding-right:14px; cursor: pointer" (click)="editName(scope)"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span style="cursor: pointer" (click)="editActivity(scope)"><i class="fa fa-wrench"
                             aria-hidden="true"></i></span>
                             <span (click)="showModal(scope.id)" style="float: right; cursor: pointer"><i
                              class="fa fa-trash"></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>-->
                </div>
            </div>
        </div>
    </div>
</section>
